# This is a basic workflow to help you get started with Actions

name: Update from GISAID

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 5 * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  download:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }} 
      - name: Install pandas
        run: pip install pandas tqdm
      - name: Download file
        run: curl -u ${{secrets.GISAID_USERNAME}}:${{secrets.GISAID_PW}} https://www.epicov.org/epi3/3p/varsurv02/export/provision.json.xz | xz -d -T0  > ./provision.json
        working-directory: ./data_processing/
      - name: Aggregate
        run: python process_gisaid.py
        working-directory: ./data_processing/
      # https://blog.benoitblanchon.fr/github-action-run-ssh-commands/
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          cat >>~/.ssh/config <<END
          Host *
            StrictHostKeyChecking no
          END
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
      - name: copy file to server
        run: scp full_data_table.csv ${{ secrets.SSH_TARGET }}:/tmp
        working-directory: ./data_processing/
      - name: do remote update
        run: ssh ${{ secrets.SSH_TARGET }} -C './update.sh'
 